body {
    font-family: "Roboto", sans-serif;
    max-width: 1366px;
    height: auto;
    background-image: url(../img/background\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    margin-bottom: 26px;
}

.logo {
    display: flex;
    gap: 8px;
}

.logo-img {
    width: 53px;
    height: 47px;
    background-image: url(../img/logo\ 3.png);
}

.logo:hover .logo-img {
    background-image: url(../img/logo\ 2.png);
}  

.logo-text h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 29px;
    line-height: 1;
}

.logo-text p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
}

.logo:hover .logo-text p,
.logo:hover .logo-text h1 {
    color: #F26522;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
}

.address a:hover,
.address a:focus {
    color: #F26522;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 220px);
    column-gap: 60px;
    row-gap: 78px;
    margin-bottom: 48px;
}

.grid-item:hover .title {
    color: #F26522;
}

.grid-item:hover .aside {
    opacity: 1;
    transform: translateY(-55px);
}

.image {
    display: block;
    width: 300px;
    height: 220px;
    margin-bottom: 22px;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}

.image-title {
    position: relative;
}

.aside {
    background-color: #F26522;
    width: 285px;
    height: 55px;
    position: absolute;
    bottom: -17px;
    left: 0;
    padding-top: 8px;
    padding-left: 16px;
    opacity: 0;
}  

.aside p {
    font-weight:400;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
}

.details {
    display: flex;
    align-items: center;
    gap: 128px;
    margin-top: 8px;
}

.details h3 {
    font-weight:400;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
}

.details p {
    font-weight:400;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
}

.details p::after {
    content: "";
    background-image: url(../img/Vector\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 5px;
    height: 10px;
    margin-left: 16px;
    top: 32px;
}

.footer {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    padding-bottom: 15px;
    padding-top: 49px;
}
  
  
    
  
    
  
  
  

  
  
  
  